<?xml version="1.0" encoding="UTF-8"?>
<!-- URL rewrite config to use route
     this file will be copy to dist folder for deploy purpose -->
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="RedirectAllRequest" stopProcessing="true">
                    <match url="^(.*)$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
