body {
    height:100vh;
    padding-top: 50px !important;
    padding-bottom: 40px !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.help-block {
    font-size: 12px;
}

.izenda-container{
    width: 100%;
    height: 100%;
    min-height: 100%;
}
.quarter-screen{
    float: left;
    width: 40%;
    height:  40%;
    margin-left: 20px;
    margin-top: 20px;
    background-color: white;
}

.half-screen{
    float: left;
    width: 80%;
    height:  50%;
    margin-left: 20px;
    background-color: white;
}

#izenda-export-reportpart>.izenda {
    background-color: transparent !important;
}


#izenda-root .izenda .collapsible-list-items.panel-group .panel {
    border-radius: 0;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: -75px 0 0 -75px;
    position: absolute;
    left: 50%;
    top: 50%;
}

.loader-text {
    position: absolute;
    left: 45%;
    top: 60%;
    font-size: x-large;
    color: #3498DB;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.izenda-header h1,h2{
    color: #1c4e89;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    cursor: default;
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover {
    background-color: #444242;
    cursor: default;
}