@import './../../../../../../assets/scss/color';
.auth-form{
		margin-top: 4rem;
    h2{
        color: $izenda-base-color;
    }
    .error{
        color: $color-red;
        font-size: 0.85rem;
    }
}