//@import './../../../assets/scss/_global';
// @import 'bootstrap/dist/css/bootstrap.min.css';
// @import './../../izenda/izenda-ui.css';

#izenda-angular-kit{
    padding-top: 3rem;
    height: 100vh;
}
:host {
  display: block;
}
// import './../../assets/scss/_global.css';
// import 'bootstrap/dist/css/bootstrap.min.css';
// import "./assets/izenda/izenda-ui.css";