<nav-bar></nav-bar>
<div class="jumbotron izenda-header">
    <h1>Izenda Angular2 Starterkit</h1>

    <p class="lead">
        This starter kit will help your development team quickly and easily embed Izenda into your application.
    </p>
</div>

<div class="row izenda-base-color">

    <div class="col-md-4">
        <h2>User Integration</h2>
        <p>Easily integrate your users, roles, and tenants with Izenda. </p>
        <p><a class="btn btn-primary" href="https://www.izenda.com/wiki7/index.php?title=API:Back-end_Integration" role="button">Learn more »</a></p>
    </div>

    <div class="col-md-4">
        <h2>Hidden Filters</h2>
        <p>Our flexible API allows you to apply row-level security to your data sources. Filter data by user, role, tenant, or your own custom logic. </p>
        <p><a class="btn btn-primary" href="https://www.izenda.com/wiki7/index.php?title=Code:AdhocConfig_SetHiddenFilter" role="button">Learn more »</a></p>
    </div>

    <div class="col-md-4">
        <h2>Security</h2>
        <p>Review best practices to help ensure a safe and secure deployment of Izenda.</p>
        <p><a class="btn btn-primary" href="https://www.izenda.com/wiki7/index.php?title=Doc:Security_Recommendations" role="button">Learn more »</a></p>
    </div>
</div>
