.navbar{
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    .main-navbar{
        .navbar-nav:first-child{
            flex-grow: 1;
        }
    }
    a{
        color: #9d9d9d;
        text-decoration: none;
    }
    .dropdown-menu{
        a{
            color: #333;
        }
    }
}