@section Scripts {
    @Scripts.Render("~/bundles/app")
}
<div class="row">
    <div class="alert alert-info" role="alert">
        This is the API used by the Angular project, the izenda API should be deployed separately. See the readme.txt file for more details.
    </div>
</div>